<div class="row carousel-row">
    <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 carousel-holder">
    <button class="slick-previous-button" ng-click="slickConfig.method.slickPrev()"></button>
      <slick settings="slickConfig"  prev-arrow="false" next-arrow="false">
        <div class="carousel-image">
          <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/6/11486360851186-slideshow.jpg" height="100%">
        </div>
        <div class="carousel-image">
          <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/5/11486316098924-FABALLEY-desktop_slideshow.jpg">
        </div>
        <div class="carousel-image">
          <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/6/11486404365561-Slideshow-1920-x-1080-px.jpg" height="100%">
        </div>    
      </slick>
      <button class="slick-next-button" ng-click="slickConfig.method.slickNext()"></button>
    </div>
    <div class="col-md-3 col-lg-3 hidden-xs hidden-sm carousel-image-holder">
      <div class="carousel-image_stack" ng-class="{'carousel-overlay' : currentSlide === 0}">
        <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/6/11486360851186-slideshow.jpg" height="100%" width="100%">
      </div>
      <div class="carousel-image_stack" ng-class="{'carousel-overlay' : currentSlide === 1}">
        <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/5/11486316098924-FABALLEY-desktop_slideshow.jpg" height="100%" width="100%">
      </div>
      <div class="carousel-image_stack" ng-class="{'carousel-overlay' : currentSlide === 2}">
        <img src="http://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_1.0/assets/images/banners/2017/2/6/11486404365561-Slideshow-1920-x-1080-px.jpg" height="100%" width="100%">
      </div>
    </div>
  </div>